<!DOCTYPE html>
<html lang="en">
<head>
    <title>INFORMATION HIDING WITH DIGITAL STEGANOGRAPHY USING 3D GEOMETRIC MODEL|OPTIONS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='login/images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/fonts/iconic/css/material-design-iconic-font.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/animate/animate.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/css/main.css') }}">
<!--===============================================================================================-->

</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 m-b-20"><br/><br/>
                <form action="#" class="login100-form validate-form" method="post">


                    <div class="container">
                            <span class="login100-form-title p-b-6">
                        SELECT OPERATION
                          </span>

                     <hr style="border: solid #0b0b0b;width: 100%;">

                         <div class="row" style="text-align: center;">

                            <div class="col-md-6" style="border: black;">
                             <h4>Encode Image</h4>
                               <a href="/encode"><i class="fa  fa-lock fa-5x"></i></a>
                             </div>

                              <div class="col-md-6">
                              <h4>Decode Image</h4>
                                    <a href="/decode"><i class="fa fa-key fa-5x"></i></a>
                             </div>





                        </div>

            <hr style="border: solid #0b0b0b;width: 100%;">



                    <div class="col-md-12">
                          <div class="text-center">
                        <span class="txt1">
                          <a class="txt2" href="{{url_for('home')}}">
                            Click to go Back to Home
                        </a>
                    </div>
                    </div>


                        </div>


                    </div>



            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='login/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='login/vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='login/vendor/bootstrap/js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='login/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='login/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='login/vendor/daterangepicker/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='login/vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='login/vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='login/js/main.js') }}"></script>


</body>
</html>
